@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
}

img {
    object-fit: cover;
    width: 500px;
    height: 500px;
}