@import url(
    'https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap'
    );

*{
    box-sizing: border-box;
}

body{
    color: #444;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins",sans-serif;
    margin: 0;
    min-height: 100vh;
}

h1 {
    color: rgb(179,131,226);
    font-size: 10rem;
    text-align: center;
    opacity: 0.4;
}

form {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 100%;
    width: 400px;
}

.input {
    color: #444;
    border: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input::placeholder {
    color: #d5d5d5;
}

.todos {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    border-top: 1px solid #e5e5e5 ;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.todos li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
}


small {
    margin-top: 3rem;
    color: #b5b5b5;
    text-align: center;
}
